/* Customize CSS */
body {
    background-color: #fff353;
}

/* Body Class CSS */
.category-4{
    background-color: #45206d !important;
}
.category-3{
    background-color: #ec703c !important;
}
.category-27{
    background-color: #de5567 !important;
}

#header {
    background: url(../images/bg-header.png);
    background-repeat: no-repeat;
    background-color: #fff351 !important;
}
#footer {
    background-color: #51a651 !important;
    margin-top: 30px;
    overflow: hidden;
    padding-top: 25px;
}
.archive-header h2{
	color: white;
}
.category-2 .archive-header h2{
    color: #3A773B;
}
.main-color-bg {
    background: none repeat scroll 0 0 #3a773b !important;
}
#header .logo-wrap {
    background: url(../images/bg-header-2.png) no-repeat;
    background-position: center;
    background-size: auto;
    margin: 0 !important;
    padding: 15px;
}
.logo-wrap .inner-wrap {
    overflow: visible;
    margin: 15px auto !important;
}
.ticker-section {
    background-color: white;
}
.section-title {
    background: url(../images/pattern-3.png) repeat-x scroll 0 0 !important;
    background-position: center !important;
    margin-bottom: 20px;
    overflow: hidden;
}

.instag {
	padding:10px;
}

.section-title h4 {
    background: none repeat scroll 0 0 #fff353 !important;
}
.feat-section .feat-sec-nav {
    background: none repeat scroll 0 0 #fff353 !important;
}
.widget-title {
    background: url(../images/pattern-3.png) repeat-x scroll 0 0 !important;
    background-position: center !important;
    margin-bottom: 20px;
    overflow: hidden;
}
.widget-title h4 {
    background: none repeat scroll 0 0 #fff353 !important;
}
.widget-title-footer h4 {
    background: none repeat scroll 0 0 #51a651 !important;
}
.feat-section .section-content {
    overflow: hidden;
}
.carousel-section .slides li {
    background-color: white;
    margin-right: 35px;
    overflow: hidden;
    padding: 5px !important;
    position: relative;
    width: 249px !important;
}
.feat-section .section-left {
    margin-right: 20px;
    padding: 5px !important;
    background-color: white;
}
.feat-section .main-post {
    background-color: white;
    float: left;
    margin-right: 40px;
    overflow: hidden;
    padding: 10px !important;
}
.feat-section .item-post {
    background-color: white;
    overflow: hidden;
    padding: 10px;
}

.sec-slider {
    background: none repeat scroll 0 0 white;
    overflow: hidden;
    padding: 10px;
}
.sec-slider .thumb {
    float: left;
    margin-right: 40px;
}
.archive-postlist .post {
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
    background-color: white;
    padding: 10px;
}
.widget_posts_large .item-post {
    background-color: white;
    margin-bottom: 8px;
    padding: 5px !important;
}
.widget_slider ul li {
    background: none repeat scroll 0 0 white;
    border-bottom: 0 none;
    margin: 0;
    padding: 5px !important;
    width: 250px;
}
.main-post {
    background-color: white;
    padding: 5px;
}
.widget_posts .post-list .item-post {
    padding: 5px !important;
}
.post-list {
    overflow: hidden;
    /*background-color: white;*/
}
.one-third {
    background-color: white;
    padding: 5px;
}
.main-color {
    color: #38783b !important;
}
.widget-title h4 span {
    color: #38783b !important;
}
.widget_slider .sidebar-slider-posts {
    background: none repeat scroll 0 0 white;
    padding: 5px;
    position: relative;
}
#main-menu ul li {
    margin: 0 10px !important;
    width: 125px; 
}
#main-menu > ul > li:first-child {
    background: url(../images/border-1.png);
    color: #38783b;
}
#main-menu > ul > li:first-child a{
    color: #38783b;
}
#main-menu > ul > li:nth-child(2) {
    background: url(../images/border-2.png);
}
#main-menu > ul > li:nth-child(3) {
    background: url(../images/border-3.png);
}
#main-menu > ul > li:last-child {
    background: url(../images/border-4.png);
}
#main-menu ul li a{
    color: white;
}

.entry-header h1{
    color: #38783b;
}

.home .widget_tweet .time {
    color: #38783b;
}
.home .widget_tweet .tweet-footer a{
    color: #38783b !important;
}

.home .widget_tweet .tweet-footer i {
    color: #38783b;
}

.widget_tweet .time {
    color: white;
}
.widget_tweet .tweet-footer a{
    color: white !important;
}
.category-3 .widget_subscribe {
    background-color: #38783b;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.category-4 .widget_subscribe {
    background-color: #38783b;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.category-27 .widget_subscribe {
    background-color: #38783b;
    background-repeat: no-repeat;
    background-size: 100% auto;
}


/* Comment CSS */
#comments .author-avatar {
    padding: 5px;
}
.comment-right {
    padding: 5px;
    background-color: white;
}

/* Cat Item CSS */
.cat-item-4 a{
    color: #3A773B !important;
}
.cat-item-4 {
    background: url(../images/border-1.png) no-repeat;
}
.cat-item-3 {
    background: url(../images/border-2.png) no-repeat;
}
.cat-item-2 {
    background: url(../images/border-3.png) no-repeat;
}
.cat-item-27 {
    background: url(../images/border-4.png) no-repeat;
}
.cat-item-27 {
	 background: url(../images/bordered-4.png) no-repeat;
}

/* CSS For Category Widget Title */
.category-4 .widget-title {
    background: url(../images/pattern-cat-2.png) repeat-x scroll 0 0 !important;
    background-position: center !important;
    margin-bottom: 20px;
    overflow: hidden;
}
.category-4 .widget-title h4 {
    background: none repeat scroll 0 0 #45206d !important;
    color: white;
}
.category-4 .widget-title h4 span {
    color: white !important;
}

.category-3 .widget-title {
    background: url(../images/pattern-cat-3.png) repeat-x scroll 0 0 !important;
    background-position: center !important;
    margin-bottom: 20px;
    overflow: hidden;
}
.category-3 .widget-title h4 {
    background: none repeat scroll 0 0 #ec703c !important;
    color: white;
}
.category-3 .widget-title h4 span {
    color: white !important;
}

.category-27 .widget-title {
    background: url(../images/pattern-cat-4.png) repeat-x scroll 0 0 !important;
    background-position: center !important;
    margin-bottom: 20px;
    overflow: hidden;
}
.category-27 .widget-title h4 {
    background: none repeat scroll 0 0 #de5567 !important;
    color: white;
}
.category-27 .widget-title h4 span {
    color: white !important;
}


/* Categoris Color CSS */
.cat2-bg {
    background-color: #462170 !important;
}
.cat3-bg {
    background-color: #EA703D !important;
}
.cat4-bg {
    background-color: #F6E60E !important;
}

/*for footer widget */
.footer-widget .widget-title h4 {
	background:#51a651!important;
	color:#fff;
}

.footer-widget .widget-title h4 span {
	color:#fff!important;
}

.footer-widget .widget-title {
	background: url(../images/pattern-3.png) repeat-x scroll center !important;
}

.category-charming .sidebar {
	border-left: 1px solid #D35723;
}

.instag ul li a{
	height:72px;
	display:block;
}

.instag ul.thumbnails {
	background: #fff;
	padding-top: 5px!important;
	
}


@media only screen and (max-width: 835px) {
    .logo-wrap {
        margin: 0 !important;
        padding: 0 !important;
    }
}

/* Tester Game */
.tagline-game {
    color: #ec6f3b;
    text-align: left;
    font-size: 24px;
    font-family: "Nunito-Light",Helvetica,Arial,sans-serif;
    margin: 15px 0px;
    line-height: 40px;
}
.tagline-p {
    color: #5b2d91;
    text-align: left;
    font-size: 18px;
    font-family: "Nunito-Light",Helvetica,Arial,sans-serif;
}
.wrapper-game {
    width: 100%;
    margin: 0 auto 8%;
    overflow: auto;
}
.game-l {
    width: 50%;
    float: left;
}
.game-r {
    width: 48%;
    float: left;
    padding-left:2%;
}
.game-r .game-time {
    width: 120px;
    height: 55px;
    background-color: #f23c5d;
    border-radius: 2px;
    padding: 7px 15px;
    color: #fff;
    font-weight: 400;
}
.game-r .game-time h2{
    font-size: 14px;
    padding: 0;
    margin: 0;
    height: 16px;
    color: #fff;
}
.game-r .game-time p{
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.game-question {
    margin-top: 20px
}
.game-question h2 {
    color: #ec6f3b;
    font-size: 18px;
}
.game-question p {
    color: #5b2d91;
    font-weight: bold;
    font-size: 18px;
}
.game-answer {
    margin-top: 20px;
}
.game-answer h2 {
    color: #ec6f3b;
    font-size: 18px;
}

input[type='text'].input-answer {
    width: 90%;
    margin: 10px 0;
    background: #efefef;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    border: none;
    padding: 10px;
    font-size: 24px;
    color: #5b2d91;
    display: block;
}
input.submit-answer[type="submit"] {
    background: none repeat scroll 0 0 #087d36;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "Nunito-Light",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
    padding: 10px;
    text-transform: uppercase;
    width: 100px;
}

@media only screen and (max-width: 768px) {
    .game-l {
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
    }
    .game-r {
        padding: 0;
        margin: 0;
        width: 100%;
        float: left;
    }
}