@import url("color-picker.css"); 

#wt-admin {
	width: 960px;
	margin-top: 15px; 
	font-family: Arial,sans-serif;
	color: #5A5F64;
	font-size: 12px;
	overflow:hidden;
}

#wt-admin a{
	outline: 0;
}

#wt-admin .header{
	width:960px;
	overflow: hidden;	
	background: url(images/header_bg.png) repeat;	
}

#wt-admin .header h2 {
	background: url("images/logo.png") no-repeat left 5px;
	color: #fff;
	
	font-size: 30px;
	font-weight: 700;
	padding-left: 66px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
	line-height: 1.8;
}

#wt-admin .main{
	overflow:hidden;
	height:90px;
}

#wt-admin .header .main .left{
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	
}
	
#wt-admin .theme-info{
	float: right;
	margin-right: 15px;
	text-align:right;	
}

#wt-admin .theme-info h3{	
	text-align: right;
	margin-top: 10px; 
	color: #f6f8f9;
	font-size:20px;
	font-weight:700;
	margin-bottom:10px;
}

#wt-admin .theme-info ul{
	overflow:auto;
	margin-top: 10px; 
	float:right;	
}

#wt-admin .theme-info ul li {
	padding-left: 20px;
	float: left;
	display: inline;
	margin-left: 10px;	
}
	
#wt-admin .theme-info ul li.support i{
	color: #FFFFFF;
	font-size: 16px;
	margin-right: 3px;
}
	

#wt-admin .theme-info ul li  a{
	text-decoration:none;
	color:white;
}

#wt-admin .clear{
	clear:both;
}

#wt-admin .tabs{
	float: left;
	width: 195px;	
}

#wt-admin .tab_block{
	position: relative;
}

#wt-admin .tabs ul li{
	border-bottom: 1px solid #D8D8D8;
	box-shadow: 0 1px 0 #F9F9F9 inset;
	margin-bottom: 0;
	padding-left: 20px;	
}

#wt-admin .tabs ul li:hover,
#wt-admin .tabs ul .active {
	background: #fff;
	margin-right: -1px;
	border-right: 1px solid #fff;	
}

#wt-admin .tabs ul li a{
	color: #777777;
	display: block;
	font-size: 13px;
	font-weight: 600;
	padding: 13px 10px 13px;
	text-decoration: none;
}

#wt-admin .tabs ul li i{
	margin-right: 5px;
}



#wt-admin .options-wrap {
	background: #F1F1F1 url("images/options-bg.png"); 
	border-bottom: 1px solid #D8D8D8;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;	
}

#wt-admin .options-form{
	border-top: none;
	padding: 15px 20px;
	background: #FFFFFF; 
	box-shadow: 0 1px 0 #FFFFFF inset;
	margin-left: 194px;
	min-height: 500px;
	overflow: hidden;
	padding: 0 20px 50px;
	border-left: 1px solid #D8D8D8;
}

#wt-admin .options-form .field{
	margin-bottom: 15px;
	overflow: hidden;	
}

#wt-admin .options-form .block,
#wt-admin .options-form .support-block{
	overflow:hidden;
	padding:20px 10px;
	border-top:none;	
}

#wt-admin .options-form .support-block p{
	margin-top:0;
}

#wt-admin .options-form label {
	text-align: right;
	float: left;
    /* font-weight: bold; */
	margin-right: 10px;
	width: 140px;
	padding-top: 7px;
	margin-right: 10px;
}	

#wt-admin .options-form input[type="text"], 
#wt-admin .options-form textarea{
	width: 235px;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	padding: 5px 7px;	
	margin-right: 10px;
	border-radius: 0px;	
	float: left;
}


#wt-admin .options-form .add-sidebar,
#wt-admin .options-form input.upload_image{
	margin-right: 0 !important;
}

#wt-admin .options-form input[type="text"]:focus, 
#wt-admin .options-form textarea:focus{
    background: none repeat scroll 0 0 white !important;
    border: 1px solid #C8C8CC !important;
    box-shadow: none;
    color: #5A5F64;
    outline: medium none;
}

#wt-admin .options-form input[type="checkbox"]{
	width: 13px;
    height: 13px;
    margin-top: 8px;
	float: left;
}

#wt-admin .options-form .description {
	font-size: 12px;
	color: #777777;	
    display: inline-block;
	font-style: normal;	
	color: #999999;
	float: left;
	font-size: 11px;
	width: 260px;
	margin-top: 7px;
	margin-left: 15px;
}

#wt-admin .options-form .updesc{
	width: 225px;
}

#wt-admin .options-form .chkdesc{
	float: left;
	width: 350px;
	margin-left: 20px;
}

#wt-admin .options-form .slcdesc{
	width: 310px;
	float: right;
}

#wt-admin .options-form .fontdesc{	
	width: 150px;
}

#wt-admin .options-form .txtfontdesc{	
	width: 190px;
	float: right;
	
}

#wt-admin .options-form .long{
	margin-top:0px;
}

#wt-admin .options-form .gen_button,
#wt-admin .options-form input.upload_image_button {
	padding: 4px 8px 4px;
	margin-left:5px;
	background-color: #ffffff;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border: 1px solid #dedede;
	cursor: pointer;
	color: #777;
	float: left;
}

#wt-admin .options-form input.upload_image_button :hover{	
	border-color:#999; 
	color: #464646;
}

#wt-admin .options-form .tab_content h2{
	color: #333333;
	padding-bottom: 10px;
	margin-bottom: 15px;	
	border-bottom: 1px solid #d8d8d8;	
}

#wt-admin .options-form .tab_content h3{
	color: #333333;
	padding-bottom: 10px;
	margin-bottom: 15px;	
	border-bottom: 1px solid #ececec;	
}

#wt-admin .options-form .reset-info{
	margin-top: 0;
}

#wt-admin .options-form .textarea{
	border: 1px solid #d5d5d5;
	color: #444444;   
    height:90px;
	font-size:12px;
    padding:6px 8px;
    width:260px;
    display: inline-block;
	vertical-align: middle;
    margin-right:10px;	
}

#wt-admin .options-form .large-textarea {
	height: 200px;
}

#wt-admin  .updated_status{
	color: #FFFFFF;
	padding: 7px 10px;
	margin: 10px 20px;
	font-weight: bold;
}

#wt-admin .submit {
	margin: 10px;
	clear: both;
	overflow:hidden;
}

#wt-admin .options-form  .updated {
	overflow: hidden;
	padding: 2px 4px;
	background: #72C380;
	border: none;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 1.3;
	margin: 15px 0;	
	text-shadow: none;
	border-radius: 0;
}

#wt-admin .infobox{
	background: #D9EDF7;
	border: none;
	color: #3A87AD;
	margin: 15px 0;	
	padding:5px 8px;
	text-shadow: none;
}

#wt-admin .msgbox{
	background: #F2F2F2;
	margin: 0;
	padding:5px 8px;
	text-shadow: none;
}

#wt-admin .warningbox{
	background: #D8605F;
	border: none;
	color: #FFFFFF;
	margin: 15px 0;	
	padding:5px 8px;
	text-shadow: none;
}

#wt-admin .infobox p,
#wt-admin .warningbox p{
	margin: 5px 0;
}

#wt-admin input.button-primary {
	background-color: #298cba !important;
	background-position: left bottom;
	border: medium none !important;
	border-radius: 2px 2px 2px 2px;
	float: left;
    line-height: 26px !important;
	height:26px !important;
}

#wt-admin .options-footer input.button-primary{
	float: right;
	line-height: 22px !important;
	height:22px !important;
	
}

#wt-admin .options-form .bg-images{
	overflow: hidden;		
}

#wt-admin .options-form .bg-images li {
	float: left;
	margin-right: 7px;
	margin-bottom: 5px;
}

#wt-admin .options-form .bg-images li img {
	width: 50px;
	height: 50px;
	background: #ffffff;
	padding: 3px;
	border: 1px solid #eee;	
}

#wt-admin .options-form .bg-images li img:hover {
	background: #ccc !important;
}

#wt-admin .options-form .bg-images li.selected img {
	background:#219365 !important;
	border: 1px solid #219365;
}

#wt-admin .options-form .bg-images li input {
	display: none;
}

span.customSelect {
	font: inherit;
	background:#FFFFFF url(images/select.png) no-repeat center right;
	padding: 5px 7px;
	border: 1px solid #E6E6E6;
	width: 150px;
	margin-right: 10px;
}

span.customSelect.changed {
	background-color: #f0dea4;
}


#wt-admin span.customSelect {
	width: 220px;
}

#wt-admin  .select80{
	width: 80px !important;
}

#wt-admin  .select120{
	width: 120px !important;
}

#wt-admin  .select-wide{
	width: 232px !important;
}


#wt-admin .options-footer{
	overflow: hidden;
	padding: 8px 12px;
	background: #F1F1F1 url("images/options-bg.png"); 
	border: solid #ccc;
	border-width: 0px 1px 1px 1px;
	
	text-align: right;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	
	-moz-box-shadow: inset 0 1px 0 #fff,0 1px 0 #FFF,0 2px 0 rgba(0,0,0,0.2),0 3px 0 #FFF,0 4px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:  inset 0 1px 0 #fff,0 1px 0 #FFF,0 2px 0 rgba(0,0,0,0.2),0 3px 0 #FFF,0 4px 0 rgba(0,0,0,0.2);
	box-shadow:  inset 0 1px 0 #fff,0 1px 0 #FFF,0 2px 0 rgba(0,0,0,0.2),0 3px 0 #FFF,0 4px 0 rgba(0,0,0,0.2);
}

#wt-admin .sidebar-block{
	background-color: #666666;	
	padding: 8px 10px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px 1px #555;
	position:relative;
}

#wt-admin .sidebar-block a{
	color:#FFF; 
	text-decoration:none;
}
 
#wt-admin .sidebar-remove{
	position: absolute;
	right: 8px;
	top: 8px;
	background: url(images/delete.png) no-repeat center center;
	width: 16px;
	height: 16px;
	cursor: pointer;	
}

#wt-admin .sidebar-position{
	margin-left: 220px !important;
}

.sidebar-position .selected img {
	background: #F3A38B;
}

.postbox .inside {
	margin-top: 15px !important;
}

/*--- Meta --*/
#wt_meta_tiles_page_settings h3.hndle,
#wt_meta_featured_page_settings h3.hndle,
#wt_meta_post_review h3.hndle,
#wt_meta_post_general_settings h3.hndle,
#wt_meta_post_style_settings h3.hndle,
#wt_meta_post_sidebar_settings h3.hndle,
#wt_meta_post_ads_settings h3.hndle{
	background: #6cab26;
	background: url("images/wt20.png") no-repeat 5px center;
	background: url("images/wt20.png") no-repeat 5px center,-webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background: url("images/wt20.png") no-repeat 5px center,-moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background: url("images/wt20.png") no-repeat 5px center,-ms-linear-gradient(top, #F9F9F9, #ECECEC);
	background: url("images/wt20.png") no-repeat 5px center,-o-linear-gradient(top, #F9F9F9, #ECECEC);
	background: url("images/wt20.png") no-repeat 5px center,linear-gradient(top, #F9F9F9, #ECECEC); 
	padding-left: 32px; 
}

a {
   outline: 0 !important;
}

.sidebar-position{
	margin-left: 90px;
	overflow: hidden;
}

.sidebar-position li{
	float: left;
	margin-right: 20px;
}

.sidebar-position li input {
  display: none;
}

.sidebar-position img {
	background: #F7F7F7;
	margin: 0 0 5px;
	padding: 4px;
}

.sidebar-position .selected img {
	background: #F3A38B;
}

.meta-section{
	overflow: hidden;
	padding-bottom: 10px;
	
	border-bottom: 1px solid #E6E6E6;
}

.meta-field {
	overflow: hidden;
	margin-bottom: 5px;
}

.meta-field label{
	width: 150px;
	display: block;
	float: left;
	margin-right: 10px;
	text-align: right;
	margin-top: 5px;
}

.meta-field .field-right{
	float: left;
}

.meta-field  input[type="text"], 
.meta-field  textarea{
	width: 300px;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	padding: 5px 7px;	
	margin-right: 10px;
	border-radius: 0px;	
}

.meta-field  textarea{
	width: 450px;
}

.meta-field .compact-input{
	width: 165px !important;
}

.field-checkbox label{
	text-align: left;
	margin-top: 0;
}

.meta-field input[type="checkbox"]{
    margin-right: 5px;
	margin-top: 2px;
	float: left;
}

.review-desc,
.meta-field .desc{
	color: #999;
	font-size: 11px;
	display: inline-block;
}

.textarea-field .desc,
.review-desc{
	margin-left: 160px;
	margin-bottom: 8px;
}

.meta-field .ui-slider{
	margin-left: 5px;
}

.meta-field .upload_image_button{
	margin-right: 10px;
}

#wt_meta_post_bg_color{
	margin-right: 10px !important;
	
}
.upload_image{
	margin-right: 0 !important;
}

.meta-field .upload_image_button {
	padding: 4px 8px 4px;
	background-color: #ffffff;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
	border: 1px solid #dedede;
	cursor:pointer;
	color: #777;
}

#wt-post-meta-review-options{
	display: none;
}

.review-score{
	width: 48px !important;
}

.ui-slider{
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC));
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	-moz-border-radius: 5px;
	-khtml-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #E6E6E6;
	height: 10px;
	position: relative;
	text-align: left;
	width: 230px;
	margin-top: 8px;
	float: left;
	margin-right:15px;	
}

.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 12px;
	cursor: default;
	background: #F3A38B;
	border: 3px solid #FFFFFF;	
	border-radius: 12px;
	font-weight: normal;
	color: #555;
	top: -5px;
	margin-left: -5px;
	cursor: pointer;
}
